<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p><%= t('.test_passage_result') %>:</p>
<p>
  <%= success_color_string(@test_passage) %>
</p>

<%= link_to t('.go_back_to_tests'), tests_path %>
