<footer class="bg-dark text-center text-white fixed-bottom">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      <font size="2">
        <b> <%= github_url('ostbob', 'test-guru', 'TestGuru') %> </b><br>
        <b><a href="https://thinknetica.com/" target="_blank">Учебный проект в онлайн-школе Thinknetica</a></b><br>
        <b><%= link_to 'Feedback', new_feedback_path %></b></br>
        Copyright (c) ostbob, <%= footer_year %>.
      </font>
    <br>
  </div>
</footer>
