<div class="footer">
  <p align="center">
    <font size="2">
      <b> <%= github_url('ostbob', 'test-guru', 'TestGuru') %> </b><br>
      <b><a href="https://thinknetica.com/" target="_blank">Учебный проект в онлайн-школе Thinknetica</a></b><br>
      Copyright (c) ostbob, <%= footer_year %>.
    </font>
  </p>
  <br>
</div>

